<h1>Aricles</h1>

<ul>
    <% @articles.each do |article| %> 
    <li><a href="/articles/<%=article.id %>">
        <%= article.title %>
    </a></li>
    <li><a href="/articles/<%=article.id %>">
        <%= article.body %>
    </a></li>
</ul>
<% end %>